.register-page {
  min-height: 100vh;
  background: #184177 url(./images/home-bg-3.jpg) 0 0/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-page .logo {
  margin-bottom: 30px;
  width: 80%;
  max-width: 200px;
}

.register-page button.register {
  width: 20%;
  height: 50px;
  min-width: 100px;
  font-size: 1.2em;
  color: #184177;
}

@media only screen and (max-width: 500px) {
  .register-page button.register {
    height: 35px;
    font-size: 1em;
  }
}